<div
  class="flex flex-col items-center justify-center rounded-[6px] border-3 border-gray-400 border-dashed bg-gray-200"
>
  <button
    class="flex h-[200px] w-full flex-col items-center justify-center"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="onDrop($event)"
    (keydown)="onAreaClick()"
    (click)="onAreaClick()"
    tabindex="0"
    [class.hovering]="isDragging"
  >
    <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path fill-rule="evenodd" d="M12 3a1 1 0 0 1 .78.375l4 5a1 1 0 1 1-1.56 1.25L13 6.85V14a1 1 0 1 1-2 0V6.85L8.78 9.626a1 1 0 1 1-1.56-1.25l4-5A1 1 0 0 1 12 3ZM9 14v-1H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-4v1a3 3 0 1 1-6 0Zm8 2a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
    </svg>

    <div class="mb-2 text-[1.1rem] font-medium text-black">
      {{ 'Bild hier ablegen oder klicken zum Auswählen' | translate }}
    </div>
    <div class="text-[0.9rem] text-black-700">
      {{ 'JPG, PNG - Max. 5 MB pro Bild' | translate }}
    </div>
    <input
      #fileInput
      type="file"
      multiple
      [attr.accept]="'image/png, image/jpeg'"
      (change)="onFilesSelected($event)"
      style="display: none"
    />
  </button>

  @if (previews.length) {
    <div class="grid grid-flow-row-dense grid-cols-4 gap-2">
      @for (src of previews; track src; let i = $index) {
        <div class="m-1">
          <div
            class="relative overflow-hidden rounded-lg rounded-md border-2 border-gray-500 align-top leading-none"
          >
            <img
              [src]="getSrcForPreview(src)"
              alt="Bild-Vorschau {{ i + 1 }}"
              class="max-h-50 max-w-50 rounded-md object-cover"
            />
            <button
              (click)="removeImage(i)"
              class="absolute top-1 right-1 flex h-8 w-8 items-center justify-center rounded-full border border-gray-300 bg-white/80 shadow-md hover:bg-gray-500 hover:text-white"
            >
              ✕
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>
