<main class="container mx-auto px-4 py-4 max-w-5xl justify-center items-center relative">

    <h1 class="my-8 flex text-2xl">👨‍💻 Unsere Entwickler</h1>
    <img src="/sybit-coding-camp-2025-team.jpg" alt="Gruppenfoto aller Teilnehmer des Coding Camps" class="rounded-2xl" />
    <p class="my-5">
      Diese Website wurde im Rahmen des SYBIT Coding Camps 2025 entwickelt &dash;
      von jungen Talenten, die mit Neugier, Disziplin und Kreativität ihre
      ersten Schritte in der professionellen Softwareentwicklung gegangen sind.
      Unser Ziel war es, nicht nur Code zu schreiben, sondern etwas Sinnvolles
      zu erschaffen, das funktioniert, nützlich ist und unsere Ideen sichtbar
      macht.
    </p>
    <p class="my-5">
      Ein besonderer Dank gilt allen Teilnehmern, die mit Leidenschaft,
      Teamgeist und Ausdauer an diesem Projekt gearbeitet haben. Jede
      Komponente, jede Zeile Code und jede Entscheidung dahinter spiegelt den
      Lernprozess und das Engagement aller Beteiligten wider.
    </p>

    <h1 class="my-5 flex text-2xl">Teilnehmer:innen</h1>
    <p>
      Kaan Gel, Luisa Karsniqi, Sebastian Keller, Tomash Fedak, Leonard Röpcke, Jamal Blank, Adriano Mestre und Sasha (Oleksandr) Pavchak
    </p>

    <h1 class="my-5 flex text-2xl">Coaches von SYBIT</h1>
    <p>
      Felix Klein, Max Eichelmann, Yannik Deschler, Yannik Schwarz, Max Buhl, Elias Frank, Noel Wölfle und Stephan Strittmatter
    </p>
</main>
