<div class="container mx-auto px-4 py-4 max-w-5xl justify-center items-center realtive h-64 ">
  <img
    src="icons/icon-144x144.png"
    alt="1200 Jahre Radolfzell"
    class="w-32 h-32 object-cover rounded-lg mb-3 max-w-full max-h-full mx-auto"
  />

  <div class="m-10">
    <h1 class="flex justify-center text-2xl my-8">👨‍💻 Unsere Entwickler</h1>
    <img src="dev-group-pic.jpg" alt="Bild" class="rounded-2xl">
    <p class="my-5">
        Diese Website wurde im Rahmen des SysBit Coding Camps 2025 entwickelt – von jungen Talenten, die mit Neugier, Disziplin und Kreativität ihre ersten Schritte in der professionellen Softwareentwicklung gegangen sind.

      Unser Ziel war es, nicht nur Code zu schreiben, sondern etwas Sinnvolles zu erschaffen, das funktioniert, nützlich ist und unsere Ideen sichtbar macht.
      Ein besonderer Dank gilt allen Teilnehmern,

      die mit Leidenschaft, Teamgeist und Ausdauer an diesem Projekt gearbeitet haben. Jede Komponente, jede Zeile Code und jede Entscheidung dahinter spiegelt den Lernprozess und das Engagement aller Beteiligten wider.
    </p>
    
    <h1 class="flex justify-center text-2xl my-5"> Unsere Teilnehmer</h1>

    <h1 class="flex justify-center text-2xl my-5"> Unsere Helfer</h1>
    

    </div>

</div> 