<header class="bg-white shadow-sm">
  <div class="flex items-center justify-center">
    <!-- Left line -->
    <div class="bg-indigo mx-4 h-1 flex-1 rounded-xl"></div>
    <div class="mx-4">
      <a
        routerLink="/"
        class="block cursor-pointer transition-transform duration-300 hover:scale-105"
      >
        <img
          src="Logo_Radolfzell1200_Geschtern.Heit.Morge_square.jpg"
          alt="1200 Jahre Radolfzell"
          class="h-32 w-auto"
        />
      </a>
    </div>
    <!-- Right line -->
    <div class="bg-dark-red mx-4 h-1 flex-1 rounded-xl"></div>
  </div>
</header>
