<div class="relative h-full w-full rounded-t-2xl sm:w-full">
  <!-- Bilder -->
  @for (item of images; track $index) {
    @if ($index === selectedImageIndex) {
      <div class="flex h-full w-full justify-center rounded-t-2xl">
        <img
          class="h-[650px] w-full rounded-t-2xl object-cover"
          [src]="item.url"
          [alt]="eventName ? 'Bild der Veranstaltung: ' + eventName : 'Veranstaltungsbild'"
        />
        <div class="absolute right-0 bottom-0 rounded-tl-xl bg-black px-2 py-1 opacity-75">
          <div class="text-sm text-white">{{ item.copyright }} – {{ item.creator }}</div>
        </div>
      </div>
    }
  }

  <!-- Buttons über dem Bild -->
  <div class="absolute inset-0 grid grid-cols-2 items-center p-4">
    <div class="flex items-center justify-start">
      <button
        class="action-button bg-black/40 text-white hover:bg-black/80"
        (click)="selectedImageIndex = (selectedImageIndex - 1 + images.length) % images.length"
        aria-label="Vorheriges Bild"
      >
        <app-icon name="arrow_back" aria-hidden="true"></app-icon>
      </button>
    </div>
    <div class="flex items-center justify-end">
      <button
        class="action-button bg-black/40 text-white hover:bg-black/80"
        (click)="selectedImageIndex = (selectedImageIndex + 1) % images.length"
        aria-label="Nächstes Bild"
      >
        <app-icon name="arrow_forward" aria-hidden="true"></app-icon>
      </button>
    </div>
  </div>
</div>
