<!-- eslint-disable @angular-eslint/template/i18n -->

<main class="container px-2 pt-8">
        <p class="text-4xl mb-4"><b>Impressum</b></p>
        <p class="text-3xl mb-3">Angaben gemäß § 5 Digitale-Dienste-Gesetz (DDG)</p>
        <p class="text-2xl mb-2">Herausgeber</p>
        <p class="text-m mb-4">Dienstanbieter und Herausgeber ist die Stadt Radolfzell. Sie ist eine Körperschaft des öffentlichen Rechts und wird durch den Oberbürgermeister Simon Gröger vertreten.</p>
        <p class="text-2xl mb-2">Postanschrift</p>
        <p class="text-m mb-1">Stadt Radolfzell</p>
        <p class="text-m mb-1">Rathaus</p>
        <p class="text-m mb-1">Marktplatzt 2</p>
        <p class="text-m mb-1">78315 Radolfzell am Bodensee</p>
        <p class="mb-4">
            E-mail:<span class="text-red-600 underline hover:no-underline">stadt&#64;radolfzell.de</span>
            <br>
            Internet: <a href="https://www.radolfzell.de/startseite" class="text-red-600 underline hover:no-underline">www.radolfzell.de</a>
            <br>Telefon:<span class="text-red-600 underline hover:no-underline">00 77 32 / 81-0</span>
            <br>Telefax: 00 77 32 / 81-400
        </p>
        <p class="text-2xl mb-2">Leitweg-ID</p>
        <p class="text-l mb-4">08335063-A8498-15</p>
        <p class="text-2xl mb-2">Umsatzsteuer-Identifikationsnummer</p>
        <p class="text-l mb-4">DE - 142770533</p>
        <p class="text-2xl mb-2">Aufsichtsbehörde</p>
        <p class="text-l mb-4">Regierungspräsidium Freiburg</p>
        <p class="text-3xl mb-2">Inhaltlich verantwortlich</p>
        <p class="text-2xl mb-2">gemäß § 55 Abs. 2 Rundfunkstaatsvertrag (RStV) für Angebote der Internetseite radolfzell.de</p>
        <p class="text-m mb-1">Oberbürgermeister Simon Gröger</p>
        <p class="text-m mb-1">Stadtverwaltung Radolfzell am Bodensee</p>
        <p class="text-m mb-1">Marktplatzt 2</p>
        <p class="text-m mb-1">78315 Radolfzell am Bodensee</p>
        <p class="mb-4">
            E-mail:<a href="https://www.radolfzell.de/startseite" class="text-red-600 underline hover:no-underline">pressestelle&#64;radolfzell.de</a>
            <br>Telefon:<span class="text-red-600 underline hover:no-underline"> 0 77 32 / 81-108</span>
            <br>Telefax:<span class="text-red-600 underline hover:no-underline"> 0 77 32 / 81-117</span>
        </p>
        <p class="text-2xl mb-2">Zuständig für Angelegenheiten nach der EU-Whistleblower-Richtlinie 2019</p>
        <p class="text-m mb-1">Stadtverwaltung Radolfzell am Bodenseer</p>
        <p class="text-m mb-1">Sandra Ariane Siemers</p>
        <p class="text-m mb-1">Poststraße 5</p>
        <p class="text-m mb-1">78315 Radolfzell am Bodensee</p>
        <p class="mb-4">
            E-mail: <a href="https://www.radolfzell.de/startseite" class="text-red-600 underline hover:no-underline">sandra.siemers&#64;radolfzell.de</a>
            <br>Telefon: <span class="text-red-600 underline hover:no-underline">0 77 32 / 81-235</span>
        </p>
        <p class="text-2xl mb-2">Technische Realisation und Layout</p>
        <p class="text-m mb-1">Sybit GmbH</p>
        <p class="text-m mb-1">Sankt-Johannis-Straße 1-5</p>
        <p class="text-m mb-1">78315 Radolfzell am Bodensee</p>
        <p class="mb-4">
            E-mail:<a href="https://www.sybit.com/de" class="text-red-600 underline hover:no-underline">sales&#64;sybit.de</a>
            <br>
            Internet: <a href="https://www.sybit.com/de" class="text-red-600 underline hover:no-underline">Sybit GmbH</a>
            <br>Telefon:<span class="text-red-600 underline hover:no-underline"> +49 7732 9508-8</span>
            <br>Telefax: +49 7732 9508-111
        </p>
        <p class="text-2xl mb-2">Copyright</p>
        <br> Das Layout der Internetseite radolfzell.de, die einzelnen Beiträge sowie die verwendeten Grafiken und Bilder sind urheberrechtlich geschützt. Alle Rechte, auch die der Vervielfältigung und der Verbreitung mittels besonderer Verfahren (z.B. Datenverarbeitung, Datenträger und Datennetze), behält sich die Stadt Radolfzell vor. Die Bilder der Internetseiten sind mit Quellenangabe hinterlegt, die jeweils beim Bild angegeben sind.
        <p class="text-m mb-4">Eine Nutzung ist nur nach Rücksprache mit der Pressestelle möglich:<a href="https://www.radolfzell.de/startseite" class="text-red-600 underline hover:no-underline"> pressestelle&#64;radolfzell.de</a>
        <p class="text-1ml mb-7">Für etwaige Satzfehler sowie für die Richtigkeit der Eintragungen übernimmt die Stadt Radolfzell keine Gewähr.</p>
        <p class="text-2xl mb-2">Haftungshinweis</p>
        <p class="text-m mb-4">Die Stadt Radolfzell als Inhaltsanbieter der Internetseite radolfzell.de ist für die zur Nutzung bereitgehaltenen, eigenen Inhalte nach den allgemeinen Gesetzen verantwortlich.</p>
        <p class="text-m mb-4">Die Stadt Radolfzell ist bemüht, für die Richtigkeit und Aktualität aller auf ihrer Internetseite enthaltenen Informationen und Daten zu sorgen. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist jedoch ausgeschlossen. Die Stadt Radolfzell behält sich vor, Änderungen oder Ergänzungen der bereitgestellten Informationen oder Daten ohne Ankündigung vorzunehmen</p>
        <p class="text-m mb-4">Alle Informationen und Daten der Internetseite radolfzell.de, ihre Nutzung sowie die Anmeldung zur Internetseite und sämtliches mit der Internetseite zusammenhängende Handeln, Dulden oder Unterlassen unterliegt ausschließlich deutschem Recht. Erfüllungsort und Gerichtsstand ist Radolfzell.</p>
        <p class="text-m mb-4">Trotz sorgfältiger inhaltlicher Kontrollen übernimmt die Stadt Radolfzell keine Haftung für Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Die auf verlinkten Seiten wiedergegebenen Meinungsäußerungen bzw. Tatsachenbehauptungen liegen in der alleinigen Verantwortung der Urheber und spiegeln nicht die Meinung der Stadt Radolfzell wider.</p>
        <p class="text-2xl mb-4">Datenschutz</p>
        <p class="text-2x1l mb-4"> Radolfzell berücksichtigt den <a href="https://www.radolfzell.de/startseite" class="text-red-600 underline hover:no-underline"> Schutz personenbezogener Daten.</a>
        <p class="text-2xl mb-4">Außergerichtliche Online-Streitbeilegungen</p>
        <p class="text-m mb-4">Information gemäß § 36 Verbraucherstreitbeilegungsgesetz Die Stadt Radolfzell am Bodensee ist zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder bereit noch verpflichtet.</p>
        <p class="text-l mb-4">Stadt Radolfzell</p>
        <p class="text-l mb-4">Alle Rechte vorbehalten.</p>


      </main>
