<div class="relative">
  <button
    type="button"
    (click)="sharePage()"
    class="group cursor-pointer rounded-full p-2 transition hover:bg-gray-200"
    aria-label="{{ 'SHARE.SHARE' | translate }}"
  >
    <div class="relative flex h-[26px] w-[26px] items-center justify-center rounded-full" aria-hidden="true">📤</div>
  </button>

  <!-- Benachrichtigung für Benutzer, wenn Link kopiert wurde -->
  @if (showCopyMessage) {
    <div
      class="animate-fade-in-out fixed top-2/3 left-1/2 z-50 -translate-x-1/2 transform rounded-lg bg-green-600 p-4 text-sm text-white shadow-lg"
      role="alert"
      aria-live="assertive"
    >
      ✅ {{ 'share.copy-notification' | translate }}
    </div>
  }
</div>
