<div class="text-gray-750 mr-5 grid grid-cols-3">
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#a7b1db] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Ü18</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#fdc61a] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Kostenlos</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#389d73] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Für die ganze Familie</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#f5a48e] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Kultur</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#72bdbb] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Geschichte</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#6f77b8] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Entfaltung</p>
    </div>
  </div>
  <div
    class="m-5 mr-8 flex aspect-[16/16] w-[25vw] items-center justify-center rounded-lg bg-[#f197c0] p-4 shadow-md"
  >
    <div class="bg-primary align-middle">
      <p class="items-center justify-center">Barrierefrei</p>
    </div>
  </div>
</div>
