.event-container {
  display: grid;
  grid-template-areas:
    'title title'
    'picture picture'
    'dash dash'
    'description description'
    'info info2'
    'map map'
    'termin termin'
    'kontaktdaten kontaktdaten';
    
  grid-template-rows: 80px auto auto auto auto auto 1fr ;
  grid-template-columns: 2fr 2fr;
}

.title {
  grid-area: title;
}

.info {
  grid-area: info;
}

.picture {
  grid-area: picture;
}

.picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.description {
  grid-area: description;
}

.map {
  grid-area: map;
}

.kontaktdaten {
  grid-area: kontaktdaten;
  background-color: lightgray;
}

.dash {
  grid-area: dash;
  width: full;
  max-width: auto;
  border-top: 1;
  margin: 4;
  border-color: gray;
}

.termin {
  grid-area: termin;
}