<div>
  <select
    id="location"
    name="location"
    [(ngModel)]="selectedLocation"
    (ngModelChange)="setLocation($event)"
    class="p-[0.75rem 1rem] w-full cursor-pointer"
  >
    <option [ngValue]="null">
      {{ 'create-event.location' | translate }}
    </option>
    @for (location of locations; track location) {
      <option [ngValue]="location">
        {{ location.name }}
      </option>
    }
  </select>
  <button
    type="button"
    class="mt-2 w-full rounded-2xl bg-[var(--colors-light-blue)] p-2 text-white"
    (click)="showNewLocationForm()"
  >
    {{ 'create-event.newlocation' | translate }}
  </button>
</div>

<!-- Neue Location -->
@if (newLocation) {
  <div class="space-y-2 rounded-xl border-2 border-black p-2">
    <label for="locationName">{{
      'create-event.newlocationname' | translate
    }}</label>
    <input
      id="locationName"
      name="locationName"
      type="text"
      [(ngModel)]="locationName"
      placeholder="{{ 'create-event.newlocationnameexample' | translate }}"
      class="p-[0.75rem 1rem] w-full placeholder:text-gray-400"
    />
    <label for="address">{{
      'create-event.newlocationaddress' | translate
    }}</label>
    <input
      id="address"
      name="address"
      type="text"
      [(ngModel)]="address"
      placeholder="{{ 'create-event.newlocationaddressexample' | translate }}"
      class="p-[0.75rem 1rem] w-full"
    />
    <div class="grid grid-cols-2 gap-[1rem]">
      <div>
        <label for="postalCode">{{
          'create-event.newlocationplz' | translate
        }}</label>
        <input
          id="postalCode"
          name="plz"
          type="number"
          [(ngModel)]="plz"
          class="p-[0.75rem 1rem] w-full"
        />
      </div>
      <div>
        <label for="city">{{
          'create-event.newlocationcity' | translate
        }}</label>
        <input
          id="city"
          name="city"
          type="text"
          [(ngModel)]="city"
          required
          class="p-[0.75rem 1rem] w-full"
        />
      </div>
    </div>
    <div class="mt-4 flex justify-end space-x-2">
      <button
        type="button"
        class="rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100"
        (click)="cancelNewLocation()"
      >
        {{ 'create-event.cancel' | translate }}
      </button>
      <button
        type="button"
        class="rounded-lg bg-[var(--colors-light-blue)] px-4 py-2 text-sm font-medium text-white hover:bg-blue-800"
        (click)="saveLocation()"
      >
        {{ 'create-event.save' | translate }}
      </button>
    </div>
  </div>
}
