<div>
  <select
    id="location"
    name="location"
    [(ngModel)]="selectedLocation"
    (ngModelChange)="setLocation($event)"
    class="p-[0.75rem 1rem] w-full cursor-pointer"
  >
    <option [ngValue]="null">Ort wählen...</option>
    @for (location of locations; track location) {
      <option [ngValue]="location">
        {{ location.name }}
      </option>
    }
  </select>
  <button
    type="button"
    class="mt-2 w-full cursor-pointer rounded-2xl bg-[var(--colors-light-blue)] p-2 text-white"
    (click)="showNewLocationForm()"
  >
    Neuen Ort erstellen
  </button>
</div>

<!-- Neue Location -->
@if (newLocation) {
  <div class="space-y-2 rounded-xl border-2 border-black p-2">
    <label for="locationName">Ortsname</label>
    <input
      id="locationName"
      name="locationName"
      type="text"
      [(ngModel)]="locationName"
      placeholder="Name des Ortes"
      class="p-[0.75rem 1rem] w-full placeholder:text-gray-400"
    />
    <label for="address">Adresse</label>
    <input
      id="address"
      name="address"
      type="text"
      [(ngModel)]="address"
      placeholder="Straße und Hausnummer"
      class="p-[0.75rem 1rem] w-full"
    />
    <div class="grid grid-cols-2 gap-[1rem]">
      <div>
        <label for="postalCode">Postleitzahl</label>
        <input
          id="postalCode"
          name="plz"
          type="number"
          [(ngModel)]="plz"
          placeholder="Postleitzahl"
          class="p-[0.75rem 1rem] w-full"
        />
      </div>
      <div>
        <label for="city">Stadt</label>
        <input
          id="city"
          name="city"
          type="text"
          [(ngModel)]="city"
          required
          placeholder="Stadt- oder Ortsname"
          class="p-[0.75rem 1rem] w-full"
        />
      </div>
    </div>
    <div class="h-96 w-full overflow-hidden rounded-lg border border-gray-300" style="position: relative">
      <app-map
        id="map"
        [addLocation]="true"
        (locationSelected)="onLocationSelected($event)"
        class="absolute top-0 left-0 h-full w-full"
      ></app-map>
    </div>
    <div class="mt-4 flex justify-end space-x-2">
      <button
        type="button"
        class="cursor-pointer rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100"
        (click)="cancelNewLocation()"
      >
        Abbrechen
      </button>
      <button
        type="button"
        class="cursor-pointer rounded-lg bg-[var(--colors-light-blue)] px-4 py-2 text-sm font-medium text-white hover:bg-blue-800"
        (click)="saveLocation()"
      >
        Erstellen
      </button>
    </div>
  </div>
}
