<div class="bg-kultur flex min-h-[80px] w-full flex-col items-center justify-between px-6 pb-[80px] md:flex-row md:items-end">
  <div class="flex gap-5 py-4">
    <a href="https://www.radolfzell.de/impressum" class="hover:underline">{{ 'footer.impressum' | translate }}</a>
    <span class="text-gray-400">|</span>
    <a href="https://www.radolfzell.de/datenschutz" class="hover:underline">{{ 'footer.datenschutz' | translate }}</a>
    <span class="text-gray-400">|</span>
    <a href="https://www.instagram.com/Radolfzell1200" class="flex items-center gap-1 hover:underline">
      <app-icon name="instagram" class="h-[1rem]" aria-hidden="true"></app-icon>
      {{ 'footer.instagram' | translate }}
    </a>
  </div>

  <a [routerLink]="['/team']" routerLinkActive="router-link-active">
    <div id="sponsor" class="m-1 flex flex-col items-end rounded-lg bg-white/10 p-3 shadow-sm">
      <span class="mb-1 text-center text-sm text-gray-600">{{ 'footer.sponsoring' | translate }}</span>
      <img src="sybit-logo.svg" alt="SYBIT Sponsoring Logo" class="h-6 max-w-[120px] object-contain" />
    </div>
  </a>
</div>
