<div class="flex items-center justify-center h-300 bg-indigo">
  <div class="bg-white p-10 rounded-xl shadow-xl text-center">
    <form>
      <label for="username" class="block text-x1 fon-semibold mb-2">Username:</label>
      <input 	class= "-webkit-box-decoration-break: slice;box-decoration-break: slice; border-2 border-black rounded w-80 h-12 text-lg px-4 mb-6" type="text" id="username" name="username"><br>
      <label for="pwd" class=""block text-1 font-semibold mb-2>Password:</label><br>
      <input class= "-webkit-box-decoration-break: slice;box-decoration-break: slice; border-2 border-black rounded w-80 h-12 text-lg px-4 mb-6" type="password" id="pwd" name="pwd">
      <button type="button" (click)="togglePassword()"></button>
      <div>
        <br>
      </div>
      <input type="button" value="Login" class="w-50 h-10 text-lg px-3 mb-5  border-2 border-black rounded">
    </form>
  </div>
</div>