<app-go-back-button> </app-go-back-button>
<article>
  <h1>
    {{ this.name }}
  </h1>
  <!-- Ladeanzeige -->
  @if (loading) {
    <div class="flex items-center justify-center p-8">
      <div class="h-12 w-12 animate-spin rounded-full border-t-2 border-b-2 border-[#c70d56]"></div>
    </div>
    <div class="mr-2 ml-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      @for (item of [].constructor(3); track $index) {
        <div class="mx-auto bg-white rounded shadow-lg w-full rounded-2xl">
          <div class="h-48 p-3 overflow-hidden bg-gray-200 animate-pulse">
          </div>
          <div class="p-3 h-">
              <div class="grid grid-cols-2 gap-4 mt-2">
                  <div class="h-8 col-span-2 bg-gray-200 rounded animate-pulse">
                  </div>
                  <div class="h-4 bg-gray-200 rounded animate-pulse">
                  </div>
                  <div class="h-4 bg-gray-200 rounded animate-pulse">
                  </div>
                  <div class="h-4  bg-gray-200 rounded animate-pulse">
                  </div>
                  <div class="h-4 bg-gray-200 rounded  animate-pulse">
                  </div>
              </div>
          </div>
        </div>
      }
    </div>
  }
  @else {
    <!-- Keine Events Meldung -->
    @if (events.length === 0) {
      <div class="rounded-lg bg-gray-100 p-4 text-center">
        <p>
          {{ 'EVENTS.NO_EVENTS_FOUND_IN_CATEGORY' | translate }}
        </p>
      </div>
    }

    <div class="mr-2 ml-2 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      @for (event of events; track $index) {
        <div class="relative">
          @if (event.isPast) {
            <div class="absolute top-0 left-0 z-10 m-2 rounded bg-gray-700 px-2 py-1 text-xs text-white opacity-80">
              {{ 'EVENTS.PAST_EVENT' | translate }}
            </div>
          }
          <app-event-card [event]="event" [class.opacity-70]="event.isPast"> </app-event-card>
        </div>
      }
    </div>
  }
</article>
