<div
  class="upload-container"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <div class="upload-content">
    <mat-icon class="upload-icon">cloud_upload</mat-icon>
    <p>{{ 'upload-image.image-here' | translate }}</p>
    <p class="or-text">- oder -</p>
    <label class="file-select-button">
      <span>Datei auswählen</span>
      <input
        type="file"
        accept="image/*"
        multiple
        (change)="onFileSelected($event)"
        class="hidden-input"
      />
    </label>
  </div>
</div>
