<div
  class="relative container mx-auto max-w-5xl items-center justify-center px-4 py-4"
>
  <div class="p-4">
    <h1 class="mb-4 text-left text-xl font-bold">Aktuelle Events</h1>

    <div
      class="scrollbar-hide card-snap -mx-4 w-full snap-x snap-mandatory overflow-x-auto scroll-smooth pb-4"
    >
      <div class="event-row flex min-w-max gap-2 px-4">
        <app-event-card
          *ngFor="let event of events; let i = index"
          class="flex-shrink-0 snap-center"
          [class]="getCardClass()"
          [title]="event.name"
          [eventId]="event.id!.id.toString()"
          [date_start]="event.date_start"
          [date_end]="event.date_end"
          [locationName]="event.locationName"
        ></app-event-card>
      </div>
    </div>

    <h1 class="mb-4 text-left text-xl font-bold">Kategorien</h1>

    <app-kategorie-card></app-kategorie-card>
  </div>
</div>
