.event-row {    
  display: flex;
  gap: 1rem;
}

.home-container {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
ä
.card-snap {
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-padding: 1rem;
  scroll-snap-stop: always;
}

.event-card {
  scroll-snap-align: center;
}