<div class="relative grid grid-cols-1 justify-center">
  <h1 class="sr-only">
    {{ 'home.title' | translate }}
  </h1>
  <!-- Skip-Link für Screenreader -->
  <a
    [routerLink]="[]"
    fragment="main-content"
    class="sr-only focus:not-sr-only focus:absolute focus:z-50 focus:bg-white focus:p-2"
    >{{ 'home.main-content' | translate }}
  </a>

  <!-- Aktuelle Events -->
  <section [attr.aria-labelledby]="'home.tags.aria-lable-event-heading' | translate">
    <div class="grid grid-cols-2">
      <h2 [id]="'home.tags.aria-lable-event-heading' | translate">
        {{ 'home.current' | translate }}
      </h2>
      <div class="flex justify-end">
        <button
          routerLink="/event"
          class="mt-8 mb-4 inline-flex cursor-pointer items-center text-[16px] text-[#3b4ea3]"
        >
          <span class="mr-2">{{ 'home.show-all-events' | translate }}</span>
          <app-icon name="arrow_forward" class="h-6 w-6" aria-hidden="true"></app-icon>
        </button>
      </div>
    </div>

    <app-event-card-list></app-event-card-list>
  </section>

  <section [attr.aria-labelledby]="'home.tags.aria-lable-highlights-heading' | translate" class="mt-12 mb-12">
    <div class="grid grid-cols-2">
      <h2 [id]="'home.tags.aria-lable-highlights-heading' | translate">
        {{ 'home.highlights' | translate }}
      </h2>
      <div class="flex justify-end">
        <button
          routerLink="/kategorie/highlights"
          class="mt-8 mb-4 inline-flex cursor-pointer items-center text-[16px] text-[#3b4ea3]"
        >
          <span class="mr-2">{{ 'home.show-all-highlights' | translate }}</span>
          <app-icon name="arrow_forward" class="h-6 w-6" aria-hidden="true"></app-icon>
        </button>
      </div>
    </div>

    <app-event-card-list [highlightEvents]="true"></app-event-card-list>
  </section>

  <!-- Kategorien -->
  <section [attr.aria-labelledby]="'home.tags.aria-lable-catagories-heading' | translate" class="mt-12 mb-12">
    <h2 [id]="'home.tags.aria-lable-catagories-heading' | translate">
      {{ 'home.categories' | translate }}
    </h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
      @for (kategorie of topicsOrTypes; track kategorie.id) {
        <app-kategorie-card [color]="kategorie.color" [text]="kategorie.name" [slug]="kategorie.slug" />
      }
    </div>
  </section>
</div>
