<div class="container mx-auto px-4 py-4 max-w-5xl justify-center items-center relative">
  <img
    src="icons/icon-144x144.png"
    alt="1200 Jahre Radolfzell"
    class="w-32 h-32 object-cover rounded-lg mb-3 max-w-full max-h-full mx-auto"
  />
  <div class="p-4">
    <h1 class="text-xl font-bold mb-4 text-left">Aktuelle Events</h1>
    
    <div class="w-full overflow-x-auto snap-x snap-mandatory scroll-smooth pb-4 -mx-4 scrollbar-hide card-snap">
      <div class="flex gap-2 px-4 min-w-max event-row">
        <app-event-card
          *ngFor="let event of events; let i = index"
          class="flex-shrink-0 snap-center"
          [class]="getCardClass(i)"
          [title]="event.name"
          [eventId]="event.id"
        ></app-event-card>
      </div>
    </div>
    
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-gray-800 mb-4 ml-5">
      Kategorien
    </h1>
  </div>
</div>