/* Anpassungen für ngx-datatable mit Tailwind */
@reference "tailwindcss";

.tailwind-table {
  @apply border-none shadow-none;
}

.tailwind-table .datatable-header {
  @apply bg-gray-100 border-b border-gray-300;
}

.tailwind-table .datatable-header-cell {
  @apply bg-gray-100 font-bold p-4;
}

/* Sortier-Indikatoren */
.tailwind-table .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  position: relative;
}

.tailwind-table .datatable-header-cell.sortable.sort-active {
  @apply text-blue-600;
}

.tailwind-table .datatable-header-cell.sortable.sort-active.sort-asc .datatable-header-cell-wrapper:after {
  @apply text-blue-600 m-1 font-bold;
  content: '↑';
}

.tailwind-table .datatable-header-cell.sortable.sort-active.sort-desc .datatable-header-cell-wrapper:after {
  @apply text-blue-600 m-1 font-bold;
  content: '↓';
}

.tailwind-table .datatable-body-row {
  @apply border-b border-gray-300;
}

.tailwind-table .datatable-body-row:hover {
  @apply bg-gray-100;
}

.tailwind-table .datatable-body-cell {
  @apply p-4 text-gray-700;
}

.tailwind-table .datatable-footer {
  @apply bg-white border-t border-gray-300;
}

.tailwind-table .datatable-pager {
  @apply text-gray-600 p-4;
}

.tailwind-table .datatable-pager li.active a {
  @apply bg-blue-600 text-white;
}


.tailwind-table .datatable-pager a:hover {
  @apply bg-gray-100;
}

.tailwind-table .page-count {
  @apply text-gray-600 p-4 font-bold text-sm;
}
