:host {
  display: inline-block;
  line-height: 0;
  color: inherit;
  /* Größe über Tailwind-Klassen steuerbar (z. B. h-4, w-6).
     Wir setzen keine feste width/height mehr, sondern nur ein 1:1 Seitenverhältnis,
     damit sich die jeweils gesetzte Dimension (Höhe oder Breite) auf die andere überträgt. */
  aspect-ratio: 1 / 1;
}

:host .app-icon-inner {
  display: block;
  width: 100%;
  height: 100%;
}
