  <ng-container *ngIf="!isMoreCard; else moreCard">
    <a
      [routerLink]="['/event', event?.id?.id]"
      class="flex w-full h-full aspect-[1/1] flex-col items-center justify-top overflow-hidden rounded-2xl border border-gray-100 bg-white shadow-lg transition-all hover:scale-[1.02] hover:shadow-xl cursor-pointer focus:ring-opacity-50 focus:ring-2 focus:ring-yellow-400"
    >
      <div
        class="relative h-[50%] w-full overflow-hidden bg-gray-300"
        *ngIf="mediaUrl"
      >
        <img
          [src]="mediaUrl"
          [alt]="event?.name || 'Event Bild'"
          class="h-full w-full object-cover"
          [attr.loading]="'lazy'"
        />
      </div>

      <div class="w-full h-[50%] space-y-2 p-4">
        <h3
          class="line-clamp-2 text-base leading-tight font-semibold text-gray-800"
        >
          {{ event?.name || 'Event Name' }}
        </h3>

        <div class="flex items-center text-gray-700">
          <span class="mr-2">📅</span>
          <span class="text-sm">
            {{
              event?.date_start || null | dateTimeRange: event?.date_end || null
            }}
          </span>
        </div>

        <div class="flex items-center text-gray-700">
          <span class="mr-2">📍</span>
          <span class="text-sm">{{
            location?.name || 'Ort wird bekannt gegeben'
          }}</span>
        </div>
      </div>
    </a>
  </ng-container>

  <ng-template #moreCard>
    <a [routerLink]="['/kategorie']"
          class="flex w-full h-full aspect-[4/3] flex-col items-center justify-top overflow-hidden rounded-2xl border border-gray-100 bg-white shadow-lg transition-all hover:scale-[1.02] hover:shadow-xl cursor-pointer focus:ring-opacity-50 focus:ring-4 focus:ring-yellow-400"
      tabindex="0"
    >
      <div
        class="flex h-full flex-col items-center justify-center p-6 text-center"
      >
        <span class="mb-2 text-4xl">➕</span>
        <span class="text-lg font-semibold text-gray-800">
          {{ 'event-card.show-more' | translate }}</span
        >
      </div>
    </a>
  </ng-template>
