@use 'tailwindcss';

@import 'quill/dist/quill.snow.css';
@import 'quill/dist/quill.bubble.css';

/* Global base styles for HTML elements using Tailwind */
@layer base {
  /* Heading styles */
  h1 {
    @apply mt-10 mb-4 text-left text-3xl font-bold text-[#3b4ea3];
  }

  h2 {
    @apply mt-8 mb-4 text-left text-2xl font-bold text-[#3b4ea3];
  }

  h3 {
    @apply mt-4 mb-2 text-left text-xl font-bold text-[#3b4ea3];
  }

  h4 {
    @apply mt-4 mb-2 text-left text-lg font-bold text-[#3b4ea3];
  }

  /* Paragraph styles */
  p {
    @apply mb-4 text-left text-base leading-relaxed;
  }

  /* Link styles */
  a {
    @apply transition-colors duration-200;
  }

  /* List styles */
  ul {
    @apply mb-4 list-disc pl-5;
  }

  ol {
    @apply mb-4 list-decimal pl-5;
  }

  li {
    @apply mb-1;
  }

  /* Form element styles */
  input,
  select,
  textarea {
    @apply rounded rounded-lg border border-gray-300 px-3 py-2 focus:border-transparent focus:ring-2 focus:ring-[#6d7cbc] focus:outline-none;
  }

  input.error,
  textarea.error,
  select.error {
    @apply border border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500;
  }

  p.error {
    @apply text-red-600 dark:text-red-500;
  }
  /* Placeholder styles */
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    @apply text-gray-400;
  }
}

@layer components {
  .card {
    @apply flex h-full w-full cursor-pointer flex-col items-center overflow-hidden rounded-2xl border border-gray-300 text-center shadow-lg transition-transform duration-300 hover:scale-105 hover:border-gray-400 hover:shadow-xl focus-visible:ring-2 focus-visible:ring-yellow-400 focus-visible:outline-none;
  }

  .action-button {
    @apply h-12 w-12 cursor-pointer rounded-full bg-white/80 p-2 opacity-80 shadow-md transition hover:bg-gray-200 hover:text-[#3b4ea3] focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:outline-none;
  }

  .pill-list {
    @apply flex list-none flex-wrap gap-2 p-0;

    li {
      @apply inline-flex cursor-pointer items-center rounded-full border border-gray-300 px-3 py-1 transition-colors hover:opacity-80 hover:shadow-xl focus-visible:ring-2 focus-visible:ring-[#c70d56] focus-visible:ring-offset-2 focus-visible:outline-none;
    }
  }

  .filter-option {
    @apply mb-5 items-center justify-between overflow-hidden p-2 text-center transition-transform duration-300 focus:ring-2 focus:ring-yellow-400;
  }
  
  .tailwind-table {
    @apply border-0 shadow-none;
  }

  .tailwind-table .datatable-header {
    @apply border-b border-gray-300 bg-gray-100;
  }

  .tailwind-table .datatable-header-cell {
    @apply bg-gray-100 p-4 font-bold;
  }

  .tailwind-table .datatable-header-cell.sortable.sort-active {
    @apply text-blue-600;
  }

  .tailwind-table .datatable-header-cell.sortable.sort-active.sort-asc .datatable-header-cell-wrapper::after {
    content: '↑';
  }

  .tailwind-table .datatable-header-cell.sortable.sort-active.sort-desc .datatable-header-cell-wrapper::after {
    content: '↓';
  }

  .tailwind-table .datatable-body-row {
    @apply border-b border-gray-300;
  }

  .tailwind-table .datatable-body-row:hover {
    @apply bg-gray-100;
  }

  .tailwind-table .datatable-body-cell {
    @apply p-4 text-gray-700;
  }

  .tailwind-table .datatable-footer {
    @apply hidden;
  }

  .event-thumbnail {
    @apply h-[50px] w-[50px] rounded border border-gray-200 object-cover;
  }

  .event-thumbnail-placeholder {
    @apply flex h-[50px] w-[50px] items-center justify-center rounded bg-gray-100 text-gray-500;
  }

  .location-thumbnail-placeholder {
    @apply flex h-[50px] w-[50px] items-center justify-center rounded bg-gray-100 text-gray-500;
  }
}

@font-face {
  font-family: 'Meta Pro';
  src: url('/fonts/metapro_normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Meta Pro';
  src: url('/fonts/metapro_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark-pink: #c70d56;
  --color-indigo-light: #6d7cbc;
  --color-peach: #f18b70;
  --color-dark-blue: #3b4ea3;
  --color-yellow: #fdc61a;

  --font-family-meta-pro: 'Meta Pro', ui-sans-serif, system-ui, sans-serif;

  --colors-primary: var(--color-dark-pink);
  --colors-secondary: var(--color-peach);
  --colors-accent: var(--color-yellow);
  --colors-indigo: var(--color-dark-blue);
  --colors-light-blue: var(--color-indigo-light);
  --colors-dark-red: var(--color-dark-pink);
  --colors-coral: var(--color-peach);
  --colors-yellow: var(--color-yellow);

  --color-pink: #f197c0;
  --color-light-blue: #a7b1db;
  --color-peach-light: #fbd2bc;
  --color-orange-light: #f5ae8e;

  --colors-bg-primary: var(--color-pink);
  --colors-bg-secondary: var(--color-peach);
  --colors-bg-accent: var(--color-yellow);
  --colors-bg-indigo: var(--color-dark-blue);
  --colors-bg-light-blue: var(--color-light-blue);
  --colors-bg-dark-red: var(--color-color-pink);
  --colors-bg-coral: var(--color-peach-light);

  font-family: var(--font-family-meta-pro);
}

/*
@layer utilities {


 */ /* === Textfarben === */ /*
  .text-primary         { color: var(--colors-primary); }
  .text-secondary       { color: var(--colors-secondary); }
  .text-accent          { color: var(--colors-accent); }
  .text-indigo          { color: var(--colors-indigo); }
  .text-light-blue      { color: var(--colors-light-blue); }
  .text-dark-red        { color: var(--colors-dark-red); }
  .text-coral           { color: var(--colors-coral); }
  .text-yellow          { color: var(--colors-yellow); }
  .text-pink            { color: var(--color-pink); }
  .text-indigo-light    { color: var(--color-light-blue); }
  .text-peach-light     { color: var(--color-peach-light); }
  .text-orange-light    { color: var(--color-orange-light); }


  .bg-primary           { background-color: var(--colors-primary); }
  .bg-secondary         { background-color: var(--colors-secondary); }
  .bg-accent            { background-color: var(--colors-accent); }
  .bg-indigo            { background-color: var(--colors-indigo); }
  .bg-light-blue        { background-color: var(--colors-light-blue); }
  .bg-dark-red          { background-color: var(--colors-dark-red); }
  .bg-coral             { background-color: var(--colors-coral); }
  .bg-yellow            { background-color: var(--colors-yellow); }
  .bg-pink              { background-color: var(--color-pink); }
  .bg-indigo-light      { background-color: var(--color-light-blue); }
  .bg-peach-light       { background-color: var(--color-peach-light); }
  .bg-orange-light      { background-color: var(--color-orange-light); }
}
*/

.link {
  @apply text-[#3b4ea3] transition-colors duration-200 hover:text-[#c70d56] hover:underline focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.ql-editor {
  p {
    @apply mb-4 text-left text-base leading-relaxed;
  }

  ul {
    @apply mb-4 list-disc pl-5 text-base;
  }

  ol {
    @apply mb-4 list-decimal pl-5 text-base;
  }

  li {
    @apply mb-1 text-base;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.3s ease-out;
  opacity: 1;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom SVG-Background Utilities */
@utility bg-geschichte {
  @apply bg-cover bg-center;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201200%20800%22%20preserveAspectRatio%3D%22xMidYMid%20slice%22%3E%3Crect%20width%3D%221200%22%20height%3D%22800%22%20fill%3D%22%23ef859c%22/%3E%3Cpath%20d%3D%22M1200%200%20A600%20600%200%200%201%20600%20600%20L600%200%20Z%22%20fill%3D%22%2372bdbb%22%20opacity%3D%220.75%22/%3E%3Cpath%20d%3D%22M0%20200%20A600%20600%200%200%200%20600%20800%20L0%20800%20Z%22%20fill%3D%22%23c70d56%22%20opacity%3D%220.75%22/%3E%3Cpath%20d%3D%22M600%20800%20A600%20600%200%200%200%201200%20200%20L1200%20800%20Z%22%20fill%3D%22%233b4ea3%22%20opacity%3D%220.60%22/%3E%3C/svg%3E');
}

@utility bg-kultur {
  @apply bg-cover bg-center;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201200%20800%22%20preserveAspectRatio%3D%22xMidYMid%20slice%22%3E%3Crect%20width%3D%221200%22%20height%3D%22800%22%20fill%3D%22%23f5a48e%22/%3E%3Cpath%20d%3D%22M0%200%20A600%20600%200%200%201%20600%20600%20L600%200%20Z%22%20fill%3D%22%23af69a8%22%20opacity%3D%220.65%22/%3E%3Cpath%20d%3D%22M1200%20400%20A400%20400%200%200%200%20800%20800%20L1200%20800%20Z%22%20fill%3D%22%23e17589%22%20opacity%3D%220.70%22/%3E%3Cpath%20d%3D%22M600%20800%20A300%20300%200%200%201%20300%20500%20L300%20800%20Z%22%20fill%3D%22%236d7cbc%22%20opacity%3D%220.60%22/%3E%3C/svg%3E');
}

@utility bg-entfaltung {
  @apply bg-cover bg-center;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201200%20800%22%20preserveAspectRatio%3D%22xMidYMid%20slice%22%3E%3Crect%20width%3D%221200%22%20height%3D%22800%22%20fill%3D%22%23fdc519%22/%3E%3Cpath%20d%3D%22M0%200%20A500%20500%200%200%201%20500%20500%20L500%200%20Z%22%20fill%3D%22%23ed695a%22%20opacity%3D%220.70%22/%3E%3Cpath%20d%3D%22M700%20800%20A500%20500%200%200%200%201200%20300%20L1200%20800%20Z%22%20fill%3D%22%2398cfbd%22%20opacity%3D%220.70%22/%3E%3Cpath%20d%3D%22M0%20800%20A600%20600%200%200%201%20600%20200%20L600%20800%20Z%22%20fill%3D%22%236f77b8%22%20opacity%3D%220.60%22/%3E%3C/svg%3E');
}

@utility bg-general {
  @apply bg-cover bg-center;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201200%20800%22%20preserveAspectRatio%3D%22xMidYMid%20slice%22%3E%3Crect%20width%3D%221200%22%20height%3D%22800%22%20fill%3D%22%23fbd2bc%22/%3E%3Cpath%20d%3D%22M900%200%20A400%20400%200%200%201%20500%20400%20L500%200%20Z%22%20fill%3D%22%23ff8a70%22%20opacity%3D%220.65%22/%3E%3Cpath%20d%3D%22M0%20600%20A500%20500%200%200%200%20600%201100%20L0%201100%20Z%22%20fill%3D%22%2372bdbb%22%20opacity%3D%220.65%22/%3E%3Cpath%20d%3D%22M1200%20300%20A300%20300%200%200%201%20900%20600%20L900%20300%20Z%22%20fill%3D%22%23fdc519%22%20opacity%3D%220.55%22/%3E%3C/svg%3E');
}

@layer utilities {
  .bg-wave {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http://www.w3.org/2000/svg%27%20viewBox%3D%270%200%201200%20120%27%3E%3Cpath%20fill%3D%27%236d7cbc%27%20d%3D%27M0%20100%20C300%200%20900%2C0%201200%2C100%20L1200%2C120%20L0%2C120%20Z%27/%3E%3C/svg%3E');
  }
}

@layer components {
  .required::after {
    content: '*';
    color: red;
    margin-left: 0.25rem; /* Optional: adds some space between the label text and the asterisk */
  }
}
