<div 
  *ngIf="visible()" 
  [@snackBarState]="visible() ? 'visible' : 'void'"
  class="fixed bottom-5 left-1/2 transform -translate-x-1/2 z-50 flex items-center w-full max-w-md p-4 mb-4 rounded-lg shadow border"
  [ngClass]="getTypeClass()"
  role="alert">
  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path [attr.d]="getIcon()"/>
    </svg>
    <span class="sr-only">{{ type() }} icon</span>
  </div>
  <div class="ml-3 text-sm font-normal">{{ message() }}</div>
  <button 
    type="button" 
    class="ml-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 inline-flex h-8 w-8 hover:bg-gray-200"
    [ngClass]="{'hover:bg-green-200': type() === 'success', 'hover:bg-red-200': type() === 'error', 'hover:bg-yellow-200': type() === 'warning', 'hover:bg-blue-200': type() === 'info'}"
    (click)="close()"
    aria-label="Close">
    <span class="sr-only">Close</span>
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
    </svg>
  </button>
</div>
