<app-go-back-button class="mb-4 flex px-6"></app-go-back-button>
<div class="flex px-6">
  <span class="ml-2 text-left text-2xl font-bold text-gray-800">
    {{ isEditMode() ? 'Event bearbeiten' : 'Event erstellen' }}
  </span>
</div>
<div class="flex flex-col items-center justify-center rounded-2xl p-5">
  <form class="rounded-2xl bg-white p-6 shadow-2xl">
    <!-- Event Name -->
    <div>
      <label for="eventName" class="required">{{ 'create-event.eventname' | translate }}</label>
      <input
        #eventNameInput
        id="eventName"
        name="eventName"
        type="text"
        [(ngModel)]="eventName"
        class="w-full"
        [class]="this.errorName ? 'error' : ''"
        required="true"
      />
      @if (this.errorName) {
        <p class="error mt-2 text-sm">
          {{ 'create-event.error.name' | translate }}
        </p>
      }
    </div>

    <!-- Datum und Zeit -->
    <div class="flex grid flex-col gap-[3rem] sm:grid-cols-[1fr] md:w-full md:grid-cols-[1fr_1fr]">
      <div class="grid grid-cols-2 gap-[1rem]">
        <div class="my-4">
          <label for="date" class="required">{{ 'create-event.startdate' | translate }}</label>
          <input
            #dateStartInput
            id="date"
            type="date"
            [(ngModel)]="dateStart"
            name="dateStart"
            class="w-full"
            [class]="this.errorDate ? 'error' : ''"
            required="true"
          />
          @if (this.errorDate) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              {{ 'create-event.error.date' | translate }}
            </p>
          }
          <!-- Zeitspanne -->
          <div class="mx-2 my-2">
            <input id="timePeriode" name="timePeriode" type="checkbox" [(ngModel)]="timePeriode" class="cursor-pointer" />
            <label for="timePeriode" class="ms-2 w-full cursor-pointer">
              {{ 'create-event.timespan' | translate }}
            </label>
          </div>
        </div>
        <!-- Startzeit -->
        <div class="my-4">
          <label for="time" class="required">{{ 'create-event.starttime' | translate }}</label>
          <input
            #timeStartInput
            id="time"
            type="time"
            [(ngModel)]="timeStart"
            name="timeStart"
            class="w-full"
            [class]="this.errorTime ? 'error' : ''"
            required="true"
          />
          @if (this.errorTime) {
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              {{ 'create-event.error.time' | translate }}
            </p>
          }
        </div>
      </div>

      @if (timePeriode) {
        <div class="grid grid-cols-2 gap-[1rem]">
          <div class="my-4">
            <label for="dateEnd">{{ 'create-event.enddate' | translate }}</label>
            <input id="dateEnd" type="date" [(ngModel)]="dateEnd" name="dateEnd" class="w-full" />
          </div>
          <div class="my-4">
            <label for="timeEnd">{{ 'create-event.endtime' | translate }}</label>
            <input id="timeEnd" type="time" [(ngModel)]="timeEnd" name="timeEnd" class="w-full" />
          </div>
        </div>
      }
    </div>

    <div class="flex grid flex-col gap-[3rem] sm:grid-cols-[1fr] md:w-full md:grid-cols-[1fr_1fr]">
      <!-- Location Auswahl -->
      <app-location-input
        [locations]="locations"
        [selectedLocation]="selectedLocation"
        (locationSelected)="setLocation($event)"
      ></app-location-input>

      <!-- Veranstalter Auswahl -->
      <app-organizer-input
        [organizers]="organizers"
        [selectedOrganizer]="selectedOrganizer"
        (organizerSelected)="setOrganizer($event)"
      ></app-organizer-input>
    </div>

    <!-- Beschreibung -->
    <div class="my-4">
      <label for="description">{{ 'create-event.description' | translate }}</label>
      <quill-editor
        name="description"
        [maxLength]="5000"
        [styles]="{ minHeight: '250px' }"
        [(ngModel)]="description"
        [placeholder]="'Beschreibung eingeben...'"
        [format]="'html'"
        [modules]="{
          toolbar: [['bold', 'italic', 'underline'], [{ 'list': 'ordered' }, { 'list': 'bullet' }], ['link']],
          clipboard: {
            matchVisual: false,
          },
        }"
        theme="snow"
        class="w-full rounded-md border"
      >
      </quill-editor>
    </div>

    <div class="flex grid flex-col gap-[3rem] sm:grid-cols-[1fr] md:w-full md:grid-cols-[1fr_1fr]">
      <div class="flex flex-col">
        <!-- Themen -->
        <h3>
          {{ 'create-event.topics' | translate }}
        </h3>
        <!-- Event-Typ -->
        <div>
          <select
            id="eventType"
            name="eventType"
            [(ngModel)]="selectedEventType"
            (ngModelChange)="setSelectedEventType($event)"
            class="border-Gray-600 w-full cursor-pointer rounded-[6px] border-2"
          >
            <option [ngValue]="null">
              {{ 'create-event.topics' | translate }}
            </option>
            @for (eventType of eventTypes; track eventType) {
              <option [ngValue]="eventType">
                {{ eventType.name }}
              </option>
            }
          </select>
        </div>
        <div id="choose-category" class="my-4 rounded-lg bg-white shadow-sm dark:bg-gray-100">
          <ul class="mb-0 list-none p-3 text-gray-700 dark:text-gray-200">
            @for (topic of topics; track topic) {
              <li>
                <div>
                  <input
                    id="checkbox{{ topic.id }}"
                    name="topicCheckbox{{ topic.id }}"
                    type="checkbox"
                    [value]="topic.id"
                    [checked]="selectedTopics.includes(topic)"
                    (change)="toggleTopicSelection($event, topic)"
                    class="h-4 w-4 cursor-pointer"
                  />
                  <label for="checkbox{{ topic.id }}" class="ms-2 w-full cursor-pointer text-gray-900 dark:text-gray-700">
                    {{ topic.name }}
                  </label>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
      <div>
        <!-- Mehr Infos -->
        <div class="my-4 mt-6">
          <label for="moreInfoLink">{{ 'create-event.moreinfo' | translate }}</label>
          <input
            id="moreInfoLink"
            name="moreInfoLink"
            type="url"
            placeholder="{{ 'create-event.moreinfoexample' | translate }}"
            [(ngModel)]="moreInfoLink"
            class="w-full"
          />
        </div>

        <!-- Einschränkungen -->
        <div class="my-4">
          <label for="restriction">{{ 'create-event.restrictions' | translate }}</label>
          <input
            id="restriction"
            name="restriction"
            type="text"
            [(ngModel)]="restriction"
            class="w-full"
            placeholder="{{ 'create-event.restrictionsexample' | translate }}"
          />
        </div>
        <!-- Preis -->
        <div class="my-4">
          <label for="price">{{ 'create-event.price' | translate }}</label>
          <input
            id="price"
            name="price"
            type="number"
            min="0"
            step="0.01"
            placeholder="0.00"
            [(ngModel)]="price"
            class="w-full"
          />
        </div>
      </div>
    </div>

    <div>
      <!-- Bild-Upload -->
      <app-image-upload [(previews)]="previews" [eventName]="eventName" [existingImages]="images"> </app-image-upload>

      <!-- Button: Event erstellen -->
      @if (this.errorDate || this.errorName || this.errorTime) {
        <div>
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            {{ 'create-event.error.general' | translate }}
          </p>
        </div>
      }
    </div>
    <div class="my-8 flex grid w-full flex-col gap-[3rem] sm:grid-cols-[1fr] md:grid-cols-[1fr_1fr] lg:grid-cols-[1fr_1fr_1fr]">
      <button
        type="submit"
        class="w-full cursor-pointer rounded-2xl bg-blue-600 p-5 text-white hover:bg-blue-700"
        (click)="saveEvent()"
      >
        {{ (eventId ? 'create-event.updateevent' : 'create-event.createevent') | translate }}
      </button>

      <button
        type="button"
        class="w-full cursor-pointer rounded-2xl bg-gray-300 p-5 text-gray-800 hover:bg-gray-400"
        (click)="cancelEvent()"
      >
        {{ 'create-event.cancel' | translate }}
      </button>

      <!-- Löschen-Button (nur bei bestehenden Events anzeigen) -->
      @if (eventId) {
        <button
          type="button"
          class="w-full cursor-pointer rounded-2xl bg-red-500 p-5 text-white hover:bg-red-600"
          (click)="deleteEvent()"
        >
          {{ 'create-event.delete' | translate }}
        </button>
      }
    </div>
  </form>
  @if (isSaving) {
    <div class="absolute inset-0 flex items-center justify-center bg-gray-200/60">
      <app-loading-spinner />
    </div>
  }
</div>
